
<div class="container">
    
    <div class="row">

        <div class="col-lg-4"></div>

        <div class="col-lg-4 centralizar topo">
            
            <div class="card">
                <div class="card-body">
                    
                    <br>
                    <h2>Login</h2>
                    <br>

                    <div class="form-outline" data-mdb-input-init>
                        <input type="text" id="usuario" class="form-control" [(ngModel)]="usuario" />
                        <label class="form-label" for="usuario">Usuario</label>
                    </div>
        
                    <br>
            
                    <div class="form-outline" data-mdb-input-init>
                        <input type="password" id="senha" class="form-control" [(ngModel)]="senha" />
                        <label class="form-label" for="senha">Senha</label>
                    </div>
        
                    <br>
            
                    <button type="button" class="btn btn-primary" data-mdb-ripple-init (click)="logar()">
                        Logar
                    </button>
        
                    <button type="button" class="btn btn-secondary" data-mdb-ripple-init>Cadastrar</button>

                    <br>
                </div>
              </div>

        </div>

        <div class="col-lg-4"></div>

    </div>
</div>